[user]
	name = Omkar Moghe
	email = omoghe@umich.edu

[alias]
	st = status
	ci = commit
	co = checkout
	rb = rebase
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --graph --color --abbrev-commit
[pull]
	rebase = true
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
