[user]
	name = Omkar Moghe
	email = theomkarmoghe@gmail.com
[pull]
	rebase = false
	ff = only
[core]
	autocrlf = input
	pager = batcat
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	color = true
	abbrev-commit = true
	date = human
[format]
	pretty = changelog
[pretty]
	changelog = format:"%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)%an%Creset"
[init]
	defaultbranch = main
[push]
	default = current
[rerere]
	enabled = true
[rebase]
	autoStash = true
